<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Registration</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <link rel="stylesheet" href="../css/form.css" />
  <link rel="stylesheet" href="../css/navbar.css" />
</head>

<body>

  <nav class="navbar">
    <div class="logo">
      <a href="/" class="navbar-brand animated flip"><img src="../image/logo.png" alt="" width="100px"
          height="90px"></a>
    </div>
    <div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
    </div>

    <div class="navbar-links">
      <ul>
        <li><a href="/security_login">Login</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <form class="box" method="POST" action="security_register">
      <h1 class="event-page">Welcome</h1>
      <input type="text" name="name" placeholder="Your Name" autocomplete="off" autocapitalize="on" maxlength="50"
        required />
      <input type="text" name="empid" placeholder="Employee ID" autocomplete="off" minlength="9" maxlength="9"
        required />
      <input type="email" name="email" placeholder="Email ID" autocomplete="off" maxlength="50" required>
      <input type="text" pattern="\d*" name="contactno" placeholder="Contact Number" autocomplete="off" maxlength="10"
        minlength="10" required>
      <input type="text" name="key" placeholder="Key" autocomplete="off" autocapitalize="on" maxlength="50" required />
      <input type="Password" name="password" placeholder="Password" autocomplete="off" minlength="5" maxlength="50"
        required />

      <input type="Submit" name="register" value="Register" />
      <div id='status' class='invisible'>{{message}}</div>
    </form>

  </div>

  <script>

    const toggleButton = document.getElementsByClassName("toggle-button")[0];
    const navbarLinks = document.getElementsByClassName("navbar-links")[0];

    toggleButton.addEventListener("click", () => {
      navbarLinks.classList.toggle("active");
    });

    if ($('div#status').text() != '') {
      var msg = $('div#status').text()
      if (msg == 'Successfully Registered!') {
        swal.fire({
          icon: "success",
          title: "Message",
          text: msg
        });
      }
      else if (msg == 'User already exists!' || msg == 'Invalid Credentials!') {
        swal.fire({
          icon: "Warning",
          title: "Message",
          text: msg
        });
      }
    } 
  </script>
  </script>
</body>

</html>