<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Verification</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/catalog/favicon.ico?v=10">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="../css/navbar.css">
    {{!-- <link rel="stylesheet" href="../css/form.css"> --}}
    <style>
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat";
  background-color: rgb(13, 51, 51);
}


#empid {
  margin-top: 1.35rem;
  font-size: 3vh;
  margin-right: 2rem;
  color: yellow;
}

.event-page {
  margin-top: 1rem;
  font-size: 3vw;
  color: #fff;
  text-align: center;
  letter-spacing: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

.box {
  font-family: "Montserrat" !important;
  width: 600px;
  padding: 40px;
  position: relative;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 5%;
  text-align: center;
  box-shadow: 3px 3px 5px 6px rgba(217, 222, 228, 0.3);
}



.box input[type="text"],
.box input[type="password"],.box input[type="email"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 250px;
  height: 45px;
  outline: none;
  color: white;
  border-radius: 50px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,.box input[type="email"]:focus {
  width: 300px;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  height: 50px;
  margin-top: 5px;
  margin-left: 37%;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 40px;
  outline: none;
  color: white;
  border-radius: 50px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

    </style>

</head>

<body>

    <nav class="navbar">
 <div class="logo">
     <a href="/" class="navbar-brand animated flip"><img src="../image/logo.png" alt="" width="100px" height="90px"></a>
    </div>
        <div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>


        <div class="navbar-links">
            <ul>
                 <li>
          <h1 id="empid">{{empid}}</h1>
        </li>
                <li><a href="/logout" >Logout</a></li>
            
           
        </ul>
        </div>
    </nav>
    <div>

        <form action="verify" class="box" method="POST">
            <h1 class="event-page">Verification</h1>
            <input type="text" name="rollno" placeholder="Student Roll Number" pattern="\d*" autocomplete="off" minlength="9" maxlength="9" required>
            <input type="Password" name="otp" placeholder="Seurity Number" minlenght="6" maxlength="6" required>
            <input type="Submit" value="Verify">
            <div id='status' class='invisible'>{{message }}</div>
        </form>
    </div>


    <script>
        const toggleButton = document.getElementsByClassName('toggle-button')[0]
        const navbarLinks = document.getElementsByClassName('navbar-links')[0]

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
        })

        if ($('div#status').text() != '') {
            var msg = $('div#status').text()
            if (msg == 'Logout Successful!') {
                swal.fire({
                    icon: "Success",
                    title: "Message",
                    text: msg
                });
            }
            else if (msg == 'Invalid Credentials!') {
                swal.fire({
                    icon: "warning",
                    title: "Message",
                    text: msg
                });
            }
        }
    </script>

</body>

</html>